<div ng-show="showPayBillPanel" id="pay-bill-panel" class="container">

    <div id="PayBillPanelTitle">Paiement de la facture</div>
    <div class="row bs-wizard" style="border-bottom:0;">

        <div class="col-xs-3 bs-wizard-step active">
            <div class="text-center bs-wizard-stepnum">Type de transaction</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">
                <span ng-show="billInTransaction.payment_type == 'credit'" class="glyphicon glyphicon-credit-card bill-pay-progress"></span>
                <span ng-show="billInTransaction.payment_type == 'debit'" class="glyphicon glyphicon-credit-card bill-pay-progress"></span>
                <span ng-show="billInTransaction.payment_type == 'cash'" class="glyphicon glyphicon-euro bill-pay-progress"></span>
            </div>
        </div>

        <div class="col-xs-3 bs-wizard-step disabled"><!-- complete -->
            <div class="text-center bs-wizard-stepnum">Paiement</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
        </div>


        <div class="col-xs-3 bs-wizard-step disabled"><!-- complete -->
            <div class="text-center bs-wizard-stepnum">Confirmation</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
        </div>

        <div class="col-xs-3 bs-wizard-step disabled"><!-- active -->
            <div class="text-center bs-wizard-stepnum">Finalisation</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
        </div>
        <div id="currentStep">
            <div ng-show="paymentCurrentStep == 'transac'" id="stepTransacType">

                <button href="#" ng-click="paymentType('credit')" type="button" class="btn btn-info"> <span class="glyphicon glyphicon-credit-card bill-pay-type"></span>
                    Credit
                </button>
                <button href="#" ng-click="paymentType('debit')" type="button" class="btn btn-info"> <span class="glyphicon glyphicon-credit-card bill-pay-type"></span>
                    Debit
                </button>
                <button href="#" ng-click="paymentType('cash')" type="button" class="btn btn-info"> <span class="glyphicon glyphicon-euro bill-pay-type"></span>
                    Comptant
                </button>

            </div>
            <div ng-show="paymentCurrentStep == 'payment'" id="stepPayment">

                <button href="#" ng-click="paymentType('credit')" type="button" class="btn btn-info"> <span class="glyphicon glyphicon-credit-card bill-pay-type"></span>
                    Credit
                </button>
                <button href="#" ng-click="paymentType('debit')" type="button" class="btn btn-info"> <span class="glyphicon glyphicon-credit-card bill-pay-type"></span>
                    Debit
                </button>
                <button href="#" ng-click="paymentType('cash')" type="button" class="btn btn-info"> <span class="glyphicon glyphicon-euro bill-pay-type"></span>
                    Comptant
                </button>

            </div>
        </div>
    </div>
</div>

