<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
            <span class="sr-only">Toggle command</span>
            <span>Commande</span> <span class="glyphicon glyphicon-barcode"></span>
        </button>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse2">
            <span class="sr-only">Toggle navigation</span>
            <span>Prix</span> <span class="glyphicon glyphicon-euro"></span>
        </button>
        <button type="button" class="navbar-toggle collapsed" ng-click="toggleHeaderOptions()">
            <span class="sr-only">Toggle options</span>
            <span>Options</span> <span class="glyphicon glyphicon-list-alt"></span>
        </button>
        <a class="navbar-brand" href="{{@URL::to('/menu')}}"><span>Pos</span>Io</a>
        <div ng-show="showHeaderOptions" id="header-options">
                <span  ng-click="changeEmployee()"  class="menu-option">
                    <a href="#"><span class="glyphicon glyphicon-user"></span>
                        Employé #<% currentEmploye.id %></a>
                </span>
                <span  ng-click="toggleTableModal()" class="menu-option">
                    <a href="#"><span class="glyphicon glyphicon-unchecked"></span>
                        Table #<% currentTable.tblNumber %>
                    </a>
                </span>
                <span ng-click="toggleBill()" class="menu-option">
                    <a href="#" ><span class="glyphicon glyphicon-bitcoin"></span>
                        Factures
                    </a>
                </span>
                <span ng-click="togglePlanModal()" class="menu-option">
                    <a href="#" ><span class="glyphicon glyphicon-map-marker"></span>
                        Plan
                    </a>
                </span>
                <span  ng-click="toogleFullscreen()" class="menu-option">
                    <a href="#"><span class="glyphicon glyphicon-fullscreen"></span>
                        Plein écran
                    </a>
                </span>
        </div>
    </div>


</nav>