<modal title="Changement d'employee" id="changeEmployee" class="center-modal employee-modal" visible="showEmployeeModal">
    <div>
        <span ng-click="changeEmployeeStepBack()" ng-show="validation" style="margin: 10px 0 0 20px ; cursor:pointer; padding: 10px; background-color: #444; border-radius: 50%; font-size: 25px; float: left; color: #fff; position: absolute" class='glyphicon glyphicon-arrow-left'></span>
        <a ng-show="!validation" href="/"><span id="quit-emplye-modal" class='glyphicon glyphicon-remove-sign'></span></a>
        <div style="width: 100%; text-align: center; padding-top: 10px"><span style="color: red; font-size: 15px;"><% numPadErrMsg %></span></div>
        <table id="keyboard">
            <tbody>
            <tr id="rowTitle">
                <td colspan="4" id="displayTitle"><% numPadMsg %></td>
            </tr>
            <tr>
                <td colspan="4" id="displayMessage">
                    <input type="text" name="employeeInput" ng-model="employeeInput" class="form-control" id="employeeInput">
                    <em style="color: white; font-size: 18px;">Utilisez : 3 : 11</em>
                </td>

            </tr>
            <tr>
                <td colspan="2"><a class="btn button" ng-mousedown="padClick('dl')">Del</a></td>
                <td colspan="2"><a class="btn button" ng-mousedown="padClick('cl')">Clear</a></td>
            </tr>

            <tr>
                <td><a class="btn button" ng-mousedown="padClick(7)">7</a></td>
                <td><a class="btn button" ng-mousedown="padClick(8)">8</a></td>
                <td><a class="btn button" ng-mousedown="padClick(9)">9</a></td>
                <td rowspan="2"><a id="btn-menu-clk" class="btn button" ng-click="padClick('clk')">Clock in/out</a></td>
            </tr>

            <tr>
                <td><a class="btn button" ng-mousedown="padClick(4)">4</a></td>
                <td><a class="btn button" ng-mousedown="padClick(5)">5</a></td>
                <td><a class="btn button" ng-mousedown="padClick(6)">6</a></td>
            </tr>

            <tr>
                <td><a id="btn-menu-1" class="btn button" ng-mousedown="padClick(1)">1</a></td>
                <td><a class="btn button" ng-mousedown="padClick(2)">2</a></td>
                <td><a id="btn-menu-3" class="btn button" ng-mousedown="padClick(3)">3</a></td>
                <td rowspan="2"><a id="btn-menu-enter" class="btn button" ng-mousedown="padClick('ent')">Ent</a></td>
            </tr>

            <tr>
                <td colspan="2"><a class="btn button" ng-mousedown="padClick(0)">0</a></td>
                <td><a class="btn button" ng-mousedown="padClick('pt')">.</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</modal>