<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>POSIO - Menu</title>
    <link href="index.css" rel="stylesheet">
    <link href="assets/LuminoAdmin/css/styles.css" rel="stylesheet">
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <link href="lib/please-wait/build/please-wait.css" rel="stylesheet">

    <script type="application/javascript" src="assets/iscroll.js"></script>

    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular-route/angular-route.min.js"></script>
    <script src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="lib/angular-animate/angular-animate.min.js"></script>
    <script src="lib/angular-touch/angular-touch.min.js"></script>
    <script src="lib/angular-translate/angular-translate.min.js"></script>
    <script src="lib/ng-idle/angular-idle.min.js"></script>
    <script src="lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="lib/jquery.panzoom/dist/jquery.panzoom.min.js"></script>
    <script src="app.js"></script>
    <script src="controllers_res/starter.js"></script>
    <script src="view_menu/menu.js"></script>
    <script src="controllers_res/constants.js"></script>
    <script src="controllers_res/services.js"></script>
    <script src="controllers_res/directives.js"></script>
    <script src="controllers_res/templates.js"></script>
    <script src="assets/templates.js"></script>



</head>
<body ng-app="starter" ng-controller="menuController">

<script type="text/javascript" src="lib/please-wait/build/please-wait.min.js"></script>
<script type="text/javascript">
    window.loading_screen = window.pleaseWait({
        logo: "img/posio.png",
        backgroundColor: '#222',
        loadingHtml: "<div class='spinner'><div class='rect1'></div> <div class='rect2'></div> <div class='rect3'></div> <div class='rect4'></div> <div class='rect5'></div> </div>"
    });
</script>


<ng-include src="'templates/view_menu/navbarHeader.html'" include-replace>
</ng-include>
<div id="splashFullScreen">Maintenant en mode plein écran.</div>

<div id="sidebar-collapse" class="col-sm-5 sidebar">
    <ul uib-pagination ng-change="pageChanged()" total-items="clientPagerTotalItems" ng ng-model="commandCurrentClient"
                    max-size="clientPagerMaxSize" class="pagination-sm" boundary-link-numbers="true"
                    rotate="false"></ul>
    <ng-include src="'templates/view_menu/sidebar.html'" include-replace>
    </ng-include>
</div>
<div id="sidebar-collapse2" class="col-sm-5 sidebar bill-bottom">
    <ng-include src="'templates/view_menu/sidebarBill.html'" include-replace>
    </ng-include>
</div>
<div class="col-sm-7 col-sm-offset-5  div-filter">
    <ng-include src="'templates/view_menu/filter.html'" include-replace>
    </ng-include>
</div>

<div id="contentPanel" class="col-sm-7 col-sm-offset-5">
    <ng-include src="'templates/view_menu/contentPanel.html'" include-replace>
    </ng-include>
</div>

<div id="planModal" ng-show="showPlanModal">
    <ng-include src="'templates/view_menu/plan.html'" include-replace>
    </ng-include>
</div>

<div id="billWindow">
    <h1>Factures</h1>
    <div class="upRight">
        <button ng-show="(commandClient[commandCurrentClient].commandline | filter :  { status: 1 }).length > 0" style="background-color: #333; border-color: #8ad919" ng-click="addNewItemToBill(true)" type="button" class="btn btn-info">Ajouter nouveaux items</button>
        <button ng-hide="(commandClient[commandCurrentClient].commandline | filter :  { status: 1 }).length > 0" style="background-color: #333; border-color: #8ad919" ng-click="terminateCommands()" type="button" class="btn btn-info">Terminer les commandes</button>
        <button ng-hide="(commandClient[commandCurrentClient].commandline | filter :  { status: 1 }).length > 0" style="background-color: #333; border-color: #30a5ff" ng-click="" type="button" class="btn btn-success">Imprimer les factures</button>
        <button ng-click="closeBill()" type="button" class="btn btn-danger">FERMER</button>
    </div>
    <div class="bill-separation">
        <uib-progressbar class="progress-striped active bill" animate="true" max="100" value="progressValue" type="success">
            <i><%savingMessage%></i>
        </uib-progressbar>
    </div>
    <ng-include src="'templates/view_menu/billPanel.html'" include-replace>
    </ng-include>
    <div ng-show="showTerminateCommandInfo" style="position: fixed; bottom: 0; left: 0; width: 100%; z-index: 1051; font-size: 22px!important;">
        <li class="terminate-command-info" >
            <span ng-repeat="info in terminateCommandInfo"><% info %><br></span>
        </li>
    </div>
    <ng-include src="'templates/view_menu/billPaymentPanel.html'" include-replace>
    </ng-include>

</div>

<modal title="Selectionne une table" visible="showTableModal">
    <div ng-repeat="n in [] | floor:plan.nbFloor" >
        <span class="floor">Étage <% n+1 %></span>
        <div ng-repeat="i in plan.table | filter:{noFloor: n}">
            <button type="button" class="btn btn-success btn-table status<% i.status %>" ng-click="changeTable(i)" >Table #<% i.tblNumber %></button>
        </div>
    </div>
</modal>

<modal title="Changement d'employee" id="changeEmployee" class="center-modal employee-modal" visible="showEmployeeModal">
    <div>
        <span ng-click="changeEmployeeStepBack()" ng-show="validation" style="margin: 10px 0 0 20px ; cursor:pointer; padding: 10px; background-color: #444; border-radius: 50%; font-size: 25px; float: left; color: #fff; position: absolute" class='glyphicon glyphicon-arrow-left'></span>
        <a ng-show="!validation" href="/"><span id="quit-emplye-modal" class='glyphicon glyphicon-remove-sign'></span></a>
        <div style="width: 100%; text-align: center; padding-top: 10px"><span style="color: red; font-size: 15px;"><% numPadErrMsg %></span></div>
        <table id="keyboard">
            <tbody>
            <tr id="rowTitle">
                <td colspan="4" id="displayTitle"><% numPadMsg %></td>
            </tr>
            <tr>
                <td colspan="4" id="displayMessage">
                    <input type="text" name="employeeInput" ng-model="employeeInput" class="form-control" id="employeeInput">
                    <em style="color: white; font-size: 18px;">Utilisez : 3 : 11</em>
                </td>

            </tr>
            <tr>
                <td colspan="2"><a class="btn button" ng-mousedown="padClick('dl')">Del</a></td>
                <td colspan="2"><a class="btn button" ng-mousedown="padClick('cl')">Clear</a></td>
            </tr>

            <tr>
                <td><a class="btn button" ng-mousedown="padClick(7)">7</a></td>
                <td><a class="btn button" ng-mousedown="padClick(8)">8</a></td>
                <td><a class="btn button" ng-mousedown="padClick(9)">9</a></td>
                <td rowspan="2"><a id="btn-menu-clk" class="btn button" ng-click="padClick('clk')">Clock in/out</a></td>
            </tr>

            <tr>
                <td><a class="btn button" ng-mousedown="padClick(4)">4</a></td>
                <td><a class="btn button" ng-mousedown="padClick(5)">5</a></td>
                <td><a class="btn button" ng-mousedown="padClick(6)">6</a></td>
            </tr>

            <tr>
                <td><a id="btn-menu-1" class="btn button" ng-mousedown="padClick(1)">1</a></td>
                <td><a class="btn button" ng-mousedown="padClick(2)">2</a></td>
                <td><a id="btn-menu-3" class="btn button" ng-mousedown="padClick(3)">3</a></td>
                <td rowspan="2"><a id="btn-menu-enter" class="btn button" ng-mousedown="padClick('ent')">Ent</a></td>
            </tr>

            <tr>
                <td colspan="2"><a class="btn button" ng-mousedown="padClick(0)">0</a></td>
                <td><a class="btn button" ng-mousedown="padClick('pt')">.</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</modal>

<modal title="Associer ligne de commande a un service" class="center-modal" visible="showPanelCommandLineService">
    Command Line Service #
    <button class="btn btn-primary" ng-click="addToServiceNumber(1)">#1</button>
    <button class="btn btn-primary" ng-click="addToServiceNumber(2)">#2</button>
    <button class="btn btn-primary" ng-click="addToServiceNumber(3)">#3</button>
    <button class="btn btn-primary" ng-click="addToServiceNumber(4)">#4</button>
    <button class="btn btn-primary" ng-click="addToServiceNumber(5)">#5</button>
    Associer un temps
</modal>

<modal title="Diviser Factures" class="center-modal" visible="showDivideBillModal">
    <div class="divideBillChoices" >
        <div ng-click="perClientBill()" class="divideBillChoice">
            Une Facture par Personne
        </div>
        <div ng-click="oneBill()" class="divideBillChoice">
            Une Seule Facture
        </div>

        <div  ng-click="manualBill()" class="divideBillChoice">
            Diviser manuellement
        </div>
    </div>
</modal>

<modal title="Factures existantes" class="center-modal" visible="showPanelOverwriteBill">
    <div class="divideBillChoices" >
        <div ng-click="redivideBill()" class="divideBillChoice">
            Rediviser les factures
        </div>
        <div ng-click="togglePanelOverwriteBill();openBill();" class="divideBillChoice">
            Voir les factures
        </div>
    </div>
</modal>

<modal title="Selectionne une table" visible="showTableModal">
    <div ng-repeat="n in [] | floor:plan.nbFloor" >
        <span class="floor">Étage <% n+1 %></span>
        <div ng-repeat="i in plan.table | filter:{noFloor: n}">
            <button type="button" class="btn btn-success btn-table status<% i.status %>" ng-click="changeTable(i)" >Table #<% i.tblNumber %></button>
        </div>
    </div>
</modal>

<modal title="Role sur le planché" id="choseWorkTitle" class="center-modal employee-work-title-modal" visible="showWorkTitlesModal">
    <div ng-repeat="workTitle in workTitles">
        <a ng-click="setWorkTitle(workTitle)" id="btn-<%workTitle.name%>" ng-show="(workTitle.cntEmployees | filter : {idEmployee: mainText}).length > 0" class="btn btn-success"><% workTitle.name %></a>
    </div>
</modal>
</body>
</html>