<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>POSIO - Menu</title>
    <link href="index.css" rel="stylesheet">
    <link href="assets/LuminoAdmin/css/styles.css" rel="stylesheet">
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <link href="lib/please-wait/build/please-wait.css" rel="stylesheet">

    <script type="application/javascript" src="assets/iscroll.js"></script>

    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular-route/angular-route.min.js"></script>
    <script src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="lib/angular-animate/angular-animate.min.js"></script>
    <script src="lib/angular-touch/angular-touch.min.js"></script>
    <script src="lib/angular-translate/angular-translate.min.js"></script>
    <script src="lib/ng-idle/angular-idle.min.js"></script>
    <script src="lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="lib/jquery.panzoom/dist/jquery.panzoom.min.js"></script>
    <script src="app.js"></script>
    <script src="controllers_res/starter.js"></script>
    <script src="menu/menu.js"></script>
    <script src="controllers_res/constants.js"></script>
    <script src="controllers_res/services.js"></script>
    <script src="controllers_res/directives.js"></script>
    <script src="controllers_res/templates.js"></script>
    <script src="assets/templates.js"></script>



</head>
<body ng-app="starter" ng-controller="menuController">

<script type="text/javascript" src="lib/please-wait/build/please-wait.min.js"></script>
<script type="text/javascript">
    window.loading_screen = window.pleaseWait({
        logo: "img/posio.png",
        backgroundColor: '#222',
        loadingHtml: "<div class='spinner'><div class='rect1'></div> <div class='rect2'></div> <div class='rect3'></div> <div class='rect4'></div> <div class='rect5'></div> </div>"
    });
</script>


<ng-include src="'templates/menu/navbarHeader.html'">
</ng-include>
<ng-include src="'templates/menu/modal/selectTable.html'">
</ng-include>
<ng-include src="'templates/menu/modal/divideBill.html'">
</ng-include>
<ng-include src="'templates/menu/modal/existingBill.html'">
</ng-include>
<ng-include src="'templates/menu/modal/commandService.html'">
</ng-include>
<ng-include src="'templates/menu/modal/changeEmployee.html'">
</ng-include>
<ng-include src="'templates/menu/modal/workTitle.html'">
</ng-include>
<div id="splashFullScreen">Maintenant en mode plein écran.</div>

<div id="sidebar-collapse" class="col-sm-5 sidebar">
    <ul uib-pagination ng-change="pageChanged()" total-items="clientPagerTotalItems" ng ng-model="commandCurrentClient"
                    max-size="clientPagerMaxSize" class="pagination-sm" boundary-link-numbers="true"
                    rotate="false"></ul>
    <ng-include src="'templates/menu/sidebar.html'">
    </ng-include>
</div>
<div id="sidebar-collapse2" class="col-sm-5 sidebar bill-bottom">
    <ng-include src="'templates/menu/sidebarBill.html'">
    </ng-include>
</div>
<div class="col-sm-7 col-sm-offset-5  div-filter">
    <ng-include src="'templates/menu/filter.html'">
    </ng-include>
</div>

<div id="contentPanel" class="col-sm-7 col-sm-offset-5">
    <ng-include src="'templates/menu/contentPanel.html'">
    </ng-include>
</div>

<ng-include src="'templates/menu/plan.html'">
</ng-include>

<div id="billWindow">
    <h1>Factures</h1>
    <div class="upRight">
        <button ng-show="(commandClient[commandCurrentClient].commandline | filter :  { status: 1 }).length > 0" style="background-color: #333; border-color: #8ad919" ng-click="addNewItemToBill(true)" type="button" class="btn btn-info">Ajouter nouveaux items</button>
        <button ng-hide="(commandClient[commandCurrentClient].commandline | filter :  { status: 1 }).length > 0" style="background-color: #333; border-color: #8ad919" ng-click="terminateCommands()" type="button" class="btn btn-info">Terminer les commandes</button>
        <button ng-hide="(commandClient[commandCurrentClient].commandline | filter :  { status: 1 }).length > 0" style="background-color: #333; border-color: #30a5ff" ng-click="" type="button" class="btn btn-success">Imprimer les factures</button>
        <button ng-click="closeBill()" type="button" class="btn btn-danger">FERMER</button>
    </div>
    <div class="bill-separation">
        <uib-progressbar class="progress-striped active bill" animate="true" max="100" value="progressValue" type="success">
            <i><%savingMessage%></i>
        </uib-progressbar>
    </div>
    <ng-include src="'templates/menu/billPanel.html'">
    </ng-include>
    <div ng-show="showTerminateCommandInfo" style="position: fixed; bottom: 0; left: 0; width: 100%; z-index: 1051; font-size: 22px!important;">
        <li class="terminate-command-info" >
            <span ng-repeat="info in terminateCommandInfo"><% info %><br></span>
        </li>
    </div>
    <ng-include src="'templates/menu/billPaymentPanel.html'">
    </ng-include>

</div>
</body>
</html>